@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  /* Custom colors */
  --color-background: #1f2125;
  --color-primary: #fcfeff;
  --color-secondary: #282a2e;
  --color-imperialRed: #e63946;

  /* Fonts */
  --font-noto: "Noto Serif Display", serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
}


.imageWrap {
  position: relative;
  width: 292px;
  height: 230px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;              /* keep overlay + image clipped */
}

/* the overlay that sits ON TOP of the image */
.imageWrap::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;

  /* your exact figma gradient */
  background: linear-gradient(
    180deg,
    rgba(40, 42, 46, 0) 84.6%,
    #282A2E 99.84%
  );

  /* tiny softness at the seam */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
